body {
    background-color: #d2d7d8;
}

.v1770x991 {
    width: 1770px;
    height: 991px;
    text-align: center;
    align-items: center;
    margin: 2% auto;
}

.v1300x927 {
    width: 1300px;
    height: 927px;
    text-align: center;
    align-items: center;
    margin: 2% auto;
}

.v1200x827 {
    width: 1200px;
    height: 827px;
    text-align: center;
    align-items: center;
    margin: 2% auto;
}

.v1000x827 {
    width: 1000px;
    height: 827px;
    text-align: center;
    align-items: center;
    margin: 2% auto;
}

.tableauViz {
    text-align: center;
    align-items: center;
}

.center-div{
    text-align: center;
    align-items: center;
}

.title{
    font-weight: 600;
    font-size: 300%;
}

.subtitle{
    font-weight: 500;
    font-size: 220%;
    margin-top: 5%;
}

.insight{
    font-weight: 100;
    font-size: 180%;
    margin-top: 1%;
}

.line{
    width: 90%;
    margin: 1% 5%;
    height: 5px;
    border-bottom: 1px solid black;
}

.foodrow {
    display: table;
    margin: 2% 10%;
    vertical-align: middle;
    width: 80%;
    table-layout: fixed;    /* For cells of equal size */
}
.foodrow span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}